* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Italic.woff2") format("woff2");
  font-weight: undefined;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: undefined;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

html,
body {
  height: 100%;
  font-family: HelveticaNeueCyr;
  font-weight: 500;
  line-height: 140%;
  font-size: 14px;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  color: inherit;
}

.section__title {
  font-size: 36px;
  line-height: 140%;
  font-weight: 400;
  text-transform: uppercase;
}

.section__subtitle {
  color: rgb(19, 61, 141);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

.burger {
  width: 40px;
  height: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: none;
}

.burger span,
.burger::after,
.burger::before {
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger::after,
.burger::before {
  content: "";
}

.burger span {
  top: 8px;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--open span {
  display: none;
}

.burger--open::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.burger--open::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.header {
  position: relative;
  background-color: rgb(19, 61, 141);
}

.header__inner {
  position: absolute;
  width: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
  position: relative;
}

.header__top::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header__search-mobile {
  display: none;
}

.header__top-mobile {
  display: none;
}

.header__bottom {
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: left;
  text-transform: uppercase;
  padding: 30px 0px 30px 0px;
}

.header__item {
  margin-bottom: 20px;
}

.header__list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-config {
  background-color: rgb(19, 61, 141);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 250px 0px 102px 0px;
}

.banner__main {
  max-width: 636px;
  padding-bottom: 189px;
}

.banner__subtitle {
  max-width: 386px;
  font-weight: 550;
  line-height: 140%;
  margin-bottom: 50px;
  position: relative;
  padding-left: 30px;
}

.banner__subtitle::before {
  position: absolute;
  content: "";
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.banner__button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: left;
  text-transform: uppercase;
  background: rgb(189, 0, 7);
}

.title {
  font-size: 60px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 30px;
}

.button {
  width: 170px;
  padding: 15px 0px;
  text-align: center;
}

.gastanker {
  background: rgba(51, 51, 51, 0.3);
  max-width: 526px;
  min-height: 233px;
  padding: 30px 35px 35px 35px;
}

.gastanker__title {
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.gastanker__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gastanker__desc {
  font-weight: 300;
  line-height: 140%;
}

.gastanker__img {
  margin-left: 76px;
}

.news {
  padding: 137px 0px 160px 0px;
}

.news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.news__title {
  color: rgb(51, 51, 51);
}

.news__subtitle {
  color: rgb(19, 61, 141);
  cursor: pointer;
}

.news__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.news__card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 306px;
  padding: 25px;
}

.news__date {
  font-size: 13px;
  font-weight: 550;
  line-height: 140%;
  width: 171px;
  background: rgb(189, 0, 7);
  padding: 8px 12px 5px 12px;
  margin-bottom: 108px;
}

.news__date-title {
  font-size: 16px;
  font-weight: 550;
  padding-bottom: 30px;
}

.news__date-text {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.75;
}

.section__title {
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
}

.section__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.history {
  background: rgb(19, 61, 141);
}

.history__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 0px 62px 0px;
}

.history__text {
  max-width: 526px;
  padding-bottom: 50px;
}

.history__text p:not(:last-child) {
  padding-bottom: 20px;
}

.history__title {
  display: block;
  margin-bottom: 20px;
}

.history__time-map {
  max-width: 607px;
}

.history__img img {
  max-width: 100%;
}

.history__list {
  margin-top: 3px;
}

.history__item {
  position: relative;
  padding-left: 28px;
}

.history__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.publications {
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 400;
}

.publications__inner {
  padding: 150px 0px 208px 0px;
}

.publications__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.publications__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.publications__block {
  max-width: 306px;
}

.publications__img {
  margin-bottom: 30px;
}

.publications__date {
  opacity: 0.75;
  text-align: left;
  margin-bottom: 20px;
}

.publications__text {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.publications__link {
  color: rgb(19, 61, 141);
  text-align: left;
}

.project__inner {
  padding: 125px 0px 150px 0px;
}

.project__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
}

.project__wrapper {
  position: relative;
  padding-top: 100px;
}

.project__subtitle {
  color: rgb(255, 255, 255);
  padding-right: 175px;
  font-size: 18px;
  font-weight: 700;
}

.project__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-webp .project__description {
  background-image: url("../img/project/bg-project.jpeg"); }

.project__description {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 706px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0px 193px 45px 45px;
}

.project__main {
  max-width: 468px;
}

.project__main-subtitle {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 140%;
}

.project__text {
  font-weight: 400;
}

.project__characteristics {
  max-width: 590px;
  background: rgb(19, 61, 141);
  padding: 55px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__item {
  width: 210px;
  margin-bottom: 31px;
}

.project__item:not(:nth-child(2n)) {
  padding-right: 50px;
}

.project__item h6 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.project__item span {
  font-size: 14px;
  font-weight: 550px;
}

.project__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgb(255, 255, 255);
}

.project__buttons {
  width: 200px;
  position: absolute;
  top: 35px;
  right: 0;
}

.project__prev {
  top: 0;
  left: 65px;
}

.project__next {
  top: 0;
  right: 0;
}

.sustainabledev {
  color: rgb(51, 51, 51);
}

.sustainabledev__inner {
  padding: 150px 0px;
}

.sustainabledev__wrapper {
  max-width: 1076px;
  margin: 0 auto;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(19, 61, 141, 0.15);
}

.sustainabledev__undertitle {
  width: 157px;
  padding: 8px 0px 5px 0px;
  background: rgb(19, 61, 141);
  text-align: center;
  margin-bottom: 45px;
}

.sustainabledev__undertitle h6 {
  color: rgb(255, 255, 255);
  opacity: 0.75;
}

.sustainabledev__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.sustainabledev__list {
  max-width: 408px;
}

.sustainabledev__item {
  position: relative;
  padding-left: 21px;
  margin-bottom: 20px;
}

.sustainabledev__item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgb(189, 0, 7);
  left: 0;
  top: 6px;
}

.sustainabledev__prev {
  /* blue */
  background: rgb(19, 61, 141);
}

.sustainabledev__next {
  /* blue */
  background: rgb(19, 61, 141);
}

.sustainabledev__prev,
.sustainabledev__next {
  width: 60px;
  height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swiper-button-prev:after {
  content: none;
}

.swiper-button-next:after {
  content: none;
}

.footer {
  background-color: rgb(19, 61, 141);
  color: #fff;
  font-size: 14px;
  font-weight: 550;
  line-height: 140%;
  padding: 60px 0px 58px 0px;
}

.footer__logo {
  text-align: center;
  margin-bottom: 43px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu {
  padding: 0px 10px;
}

.footer__menu,
.footer__contacts {
  max-width: 306px;
}

.footer__links a {
  margin-bottom: 15px;
}

.footer__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.footer__adress {
  margin-bottom: 15px;
}

.footer__phone {
  margin-top: 30px;
  margin-bottom: 11px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.services__header {
  min-height: 160px;
  background-color: rgb(19, 61, 141);
}

.main-services {
  color: rgb(51, 51, 51);
}

.kinds__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kinds__right {
  color: #fff;
}

.left {
  max-width: 666px;
}

.left__item {
  padding-bottom: 60px;
}

.develops__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 5%;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 25px;
}

@media (max-width: 1366px) {
  .news__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1320px) {
  .publications__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .history__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1182px) {
  .project__inner {
    padding-top: 50px;
  }

  .project__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .project__description {
    padding: 0px 100px 45px 45px;
    min-height: 200px;
  }

  .project__characteristics {
    max-width: 706px;
  }

  .project__main {
    max-width: 100%;
  }

  .project__wrapper {
    padding-top: 50px;
  }
}

@media (max-width: 1172px) {
  .banner {
    background-position: center center;
  }

  .banner__inner {
    display: block;
  }

  .banner__main {
    max-width: 100%;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .gastanker {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 200ms ease 0ms;
    transition: height 200ms ease 0ms;
  }

  .footer__menu {
    max-width: 100%;
    position: relative;
    padding-bottom: 10px;
  }

  .footer__menu::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #68737d;
    position: absolute;
    top: 0;
    left: 0;
  }

  .footer__menu::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #68737d;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer__list-open {
    height: 100%;
    overflow: visible;
  }

  .footer__contacts {
    margin-top: 60px;
    margin-left: auto;
  }

  .footer > .container {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .header__logo {
    display: none;
  }

  .header__top-desktop {
    display: none;
  }

  .header__search {
    display: none;
  }

  .header__search-mobile {
    position: relative;
    top: 35px;
    display: block;
  }

  .header__top-mobile {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
  }

  .header__contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__list-bottom {
    display: block;
    padding-top: 70px;
  }

  .menu__list {
    position: absolute;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(19, 61, 141, 0.8);
    display: block;
    text-align: center;
    padding-top: 100px;
    z-index: 100;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }

  .menu--open {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    top: 0;
    overflow: hidden;
  }

  .burger {
    z-index: 101;
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
  }

  .banner__inner {
    padding-top: 135px;
  }
}

@media (max-width: 620px) {
  .title {
    font-size: 45px;
  }
}

@media (max-width: 550px) {
  .header__contacts {
    display: block;
  }

  .header__mail {
    padding-bottom: 20px;
  }

  .gastanker__content {
    display: block;
  }
}

@media (max-width: 400px) {
  .project__characteristics {
    padding-right: 30px;
  }
}

.webp .project__description { background-image: url(../img/project/bg-project.webp); }